<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
    <div  class="form-group">
      <%= f.label 'Имя', for: 'loginInput' %>
      <%= f.text_field :name, autofocus: true, class: 'form-control', id: 'nameInput', required: 'true' %>
    </div>
    <div  class="form-group">
      <%= f.label 'E-mail', for: 'emailInput' %>
      <%= f.email_field :email, autofocus: true, class: 'form-control', id: 'emailInput' %>
    </div>
    <div class="form-group">
      <%= f.label 'Пароль', for: 'passInput' %>
      <% if @validatable %>
          <em>(минимум  <%= @minimum_password_length %> символов)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: 'off', class: 'form-control', id: 'passInput' %>
    </div>
    <div class="form-group">
      <%= f.label 'Подтвердите пароль', for: 'passConfInput' %>
      <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control', id: 'passConfInput' %>
    </div>
  <div class="field">
    <%= f.label 'Текущий пароль', for: 'passCurInput' %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: 'off', class: 'form-control', id: 'passCurInput', required: 'true' %>
  </div>
  <div class="actions">
    <%= f.submit 'Подтвердить' %>
  </div>
<% end %>
<%= link_to 'Назад', :back %>
