<table class="edit-new-film-form font-darkgray-color">
  <%= form_tag({ action: url_link, controller: :movies })  do %>
      <tr>
        <td>
          <% if @movie.errors.any? %>
              <div id="error_explanation">
                <h2><%= Russian::pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>
                <ul>
                  <% @movie.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
          <% end %>
          <div class="form-group">
            <%= label_tag 'Название на русском языке', nil, {for: 'titleInput'} %>
            <%= text_field_tag :title, params[:title], { autofocus: true, class: 'form-control', id: 'titleInput', placeholder: 'Название на русском языке', required: 'true' } %>
          </div>
          <div class="form-group">
            <%= label_tag 'Название на языке оригинала', nil, { for: 'titleOrigInput' } %>
            <%= text_field_tag :orig_title, params[:title], { class: 'form-control', id: 'titleOrigInput', placeholder: 'Название на языке оригинала', required: 'true' } %>
          </div>
          <div class="form-group">
            <%= label_tag 'Дата выпуска', nil, { for: 'dateInput' } %>
            <%= date_field_tag :release_date, params[:release_date], { id: 'dateInput', class: 'form-control datepicker', required: 'true' } %>
          </div>
          <div class="form-group">
            <%= label_tag 'Продолжительность (в минутах)', nil, { for: 'durationInput' } %>
            <%= number_field_tag :duration, nil, { class: 'form-control', id: 'durationInput', in: 0...300, required: 'true' } %>
          </div>
          <div class="form-group">
            <%= label_tag 'Cтраны', nil, { for: 'country_select' } %>
            <div class="input-group">
              <%= collection_select(nil, nil, Country.all, :id, :name, {}, {id: 'country_select', class: 'form-control'}) %>
              <div class="input-group-btn btn-group-border">
                <button class="btn table-more-inf" type="button" onclick="addCountry()">Добавить выбранную страну</button>
              </div>
            </div>

            <div id="selected_countries" class="w100perc">
              <%= fields_for :countries do %>
                  <input type="hidden" value="412" name="countries[22]">
              <% end %>
            </div>
          </div>

          <div class="form-group">
            <%= label_tag 'Актеры' %>
            <input id="star_url_select" type="text" class="form-control mb-5" placeholder="Введите ссылку на страницу актера">
            <div class="input-group">
              <input id="star_select" type="text" class="form-control" placeholder="Введите полное имя актера">
              <span class="input-group-btn btn-group-border">
                <button class="btn table-more-inf" type="button" onclick="addStar()">Добавить</button>
              </span>
            </div>
            <ul id="selected_stars"></ul>
          </div>

          <div class="form-group">
            <%= label_tag 'Режиссеры' %>
            <input id="director_url_select" type="text" class="form-control mb-5" placeholder="Введите ссылку на страницу режиссера">
            <div class="input-group">
              <input id="director_select" type="text" class="form-control" placeholder="Введите полное имя режиссера">
              <span class="input-group-btn btn-group-border">
                <button class="btn table-more-inf" type="button" onclick="addDirector()">Добавить</button>
              </span>
            </div>
            <ul id="selected_directors"></ul>
          </div>

          <div class="form-group">
            <%= label_tag 'Продюсеры' %>
            <input id="producer_url_select" type="text" class="form-control mb-5" placeholder="Введите ссылку на страницу продюсера">
            <div class="input-group">
              <input id="producer_select" type="text" class="form-control" placeholder="Введите полное имя продюсера">
              <span class="input-group-btn btn-group-border">
                <button class="btn table-more-inf" type="button" onclick="addProducer()">Добавить</button>
              </span>
            </div>
            <ul id="selected_producers"></ul>
          </div>

          <div class="form-group">
            <%= label_tag 'Сценаристы' %>
            <input id="writer_url_select" type="text" class="form-control mb-5" placeholder="Введите ссылку на страницу писателя">
            <div class="input-group">
              <input id="writer_select" type="text" class="form-control" placeholder="Введите полное имя писателя">
              <span class="input-group-btn btn-group-border">
                <button class="btn table-more-inf" type="button" onclick="addWriter()">Добавить</button>
              </span>
            </div>
            <ul id="selected_writers"></ul>
          </div>

          <div class="form-group">
            <%= label_tag 'Возрастное ограничение' %>
            <%= collection_select(nil, nil, Age.all, :id, :name, {}, { class: 'form-control', required: 'true' }) %>
          </div>

          <div class="form-group">
            <%= label_tag 'Описание фильма', nil, { for: 'descInput' } %>
            <%= text_area_tag :description, params[:description], { id: 'descInput', class: 'form-control resize-vertical', size: '30x10', required: 'true' } %>
          </div>
        </td>
        <td class="va-top">
          <div class="form-group cntr">
            <%= label_tag 'Текущий постер:'%>
            <% if !@movie.image_url.nil? %>
                <img src="<%= @movie.image_url %>" alt="<%= @movie.orig_title %>" class="img-thumbnail poster mb-5">
            <% else %>
                <div class="img-thumbnail poster mb-5"></div>
            <% end %>
            <%= file_field_tag :poster, { accept: 'image/png,image/gif,image/jpeg', class: 'pl-10 float-r' } %>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <div class="form-group cntr">
            <%= submit_tag 'Сохранить', { class: 'btn btn btn-header-color btn-nav-size' } %>
          </div>

          <div class="form-group cntr">
            <%= link_to 'Отмена', :back %>
          </div>
        </td>
      </tr>
  <% end %>
</table>
