<!DOCTYPE html>
<html >
<head>
  <title>PROkino</title>
  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :application %>
  <%= javascript_include_tag :edit_movie if action_name == 'edit_movie' %>
  <%= javascript_include_tag :details if action_name == 'details' %>
  <%= javascript_include_tag :extended_search if action_name == 'extended_search' %>
</head>
<body class="bg">
  <div class="container">
    <header>
      <table class="header-table">
        <tr>
          <td>
            <!-- ЛОГО ТУТ -->
          </td>
          <% if user_signed_in? %>
              <%= render partial: 'layouts/signed_in' %>
          <% else %>
              <%= render partial: 'layouts/sign_in' %>
          <% end %>
        </tr>
        <tr>
          <%= form_tag(search_result_path) do %>
          <td colspan="3">
            <%= text_field_tag(:title, nil, {class: 'form-control', required: 'true', placeholder: 'Введите название фильма'}) %>
          </td>
          <td>
            <%= submit_tag('Найти', {class: 'btn btn-block btn-header-color', name: 'search'}) %>
          </td>
          <% end %>
        </tr>
      </table>
    </header>
    <nav>
      <ul class="nav-justified">
        <li role="presentation" class="btn-nav-size border-without-bottom <%= action_name == 'index' ? 'active' : 'btn-nav-color' %>"><%= link_to 'Главная', main_path %></li>
        <li role="presentation" class="btn-nav-size border-without-bottom <%= action_name == 'releases' ? 'active' : 'btn-nav-color' %>"><%= link_to 'График премьер', releases_path%></li>
        <li role="presentation" class="btn-nav-size border-without-bottom <%= flash[:action] == 'random' ? 'active' : 'btn-nav-color' %>"><%= link_to 'Случайный фильм', random_film_path%></li>
        <li role="presentation" class="btn-nav-size border-without-bottom <%= action_name == 'extended_search' ? 'active' : 'btn-nav-color' %>"><%= link_to 'Расширенный поиск', extended_search_path %></li>
        <% if user_signed_in? && current_user.permission == 1 %>
            <li role="presentation" class="btn-nav-size border-without-bottom <%= action_name == 'users' ? 'active-users' : 'btn-users' %>"><%= link_to 'Пользователи', users_path %></li>
            <li role="presentation" class="btn-nav-size border-without-bottom <%= action_name == 'new_movie' ? 'active-new-film' : 'btn-add-new-film' %>"><%= link_to 'Добавить фильм', new_movie_path %></li>
      <% end %>
      </ul>
    </nav>
    <span id="notice_container"><%= render partial: 'layouts/notice', object: notice %></span>
    <div class="content">
      <%= yield %>
    </div>
    <footer class="font-italic ta-right">
        Силаков, Сорокина, Исаев - 2015
    </footer>
  </div>
</body>
</html>
