<!DOCTYPE html>
<html>
<head>
  <title>PROkino</title>
  <%= stylesheet_link_tag "application.css" %>
</head>
<body>
  <div class="container">
    <header>
      <div class="logo label label-info">

      </div>
      <section class="cabinet label label-default">

      </section>
    </header>
    <div class="search">
      <form class="navbar-form navbar-right form-inline" role="search">
        <div class="form-group">
          <input type="text" class="form-control">
        </div>
        <button type="submit" class="btn btn-default">Найти</button>
        <div class="form-group">
          <ul class="nav nav-pills">
            <li role="presentation" class="<%= action_name == 'search' ? 'active' : '' %>"><%= link_to 'Расширенный поиск', '/search' %></li>
          </ul>
        </div>
      </form>
    </div>
    <nav>
      <ul class="nav nav-pills nav-justified">
        <li role="presentation" class="<%= action_name == 'index' ? 'active' : '' %>"><%= link_to 'Главная', '/main'%></li>
        <li role="presentation" class="<%= action_name == 'releases' ? 'active' : '' %>"><%= link_to 'График премьер', '/releases'%></li>
        <li role="presentation" class="<%= action_name == 'random' ? 'active' : '' %>"><%= link_to 'Случайный фильм', '/random_film'%></li>
      </ul>
    </nav>
    <div class="content">
      <%= yield %>
    </div>
    <footer class="panel panel-default">
      <div class="panel-body">
        Силаков, Сорокина, Исаев
      </div>
    </footer>
  </div>
</body>
</html>
