<!DOCTYPE html>
<html>
<head>
  <title>PROkino</title>
  <%= stylesheet_link_tag "application.css" %>
</head>
<body>
  <div class="container">
    <header>
      <table class="header-table">
        <tr>
          <td></td>
          <% if user_signed_in? %>
              <%= render partial: 'layouts/signed_in' %>
          <% else %>
              <%= render partial: 'layouts/sign_in' %>
          <% end %>
        </tr>
        <tr>
          <td colspan="2">
            <%= form_tag(search_result_path(:query => @guery), role: 'search') do %>
                <%= text_field_tag('query', nil, {class: 'form-control', required: 'true', placeholder: 'Введите название фильма'}) %>
                </td>
                <td>
                  <%= submit_tag('Найти', {class: 'btn btn-block btn-search-color', "name" => "search"}) %>
            <% end %>
            </td>
        </tr>
      </table>
    </header>
    <nav>
      <ul class="nav-justified">
        <li role="presentation" class="btn btn-block btn-nav-size <%= action_name == 'index' ? 'active' : 'btn-nav-color' %>"><%= link_to 'Главная', '/main'%></li>
        <li role="presentation" class="btn btn-block btn-nav-size <%= action_name == 'releases' ? 'active' : 'btn-nav-color' %>"><%= link_to 'График премьер', '/releases'%></li>
        <li role="presentation" class="btn btn-block btn-nav-size <%= action_name == 'random' ? 'active' : 'btn-nav-color' %>"><%= link_to 'Случайный фильм', '/random_film'%></li>
        <li role="presentation" class="btn btn-block btn-nav-size <%= action_name == 'search' ? 'active' : 'btn-nav-color' %>"><%= link_to 'Расширенный поиск', '/search' %></li>
      </ul>
      <% if user_signed_in? && current_user.permission == 1 %>
          <ul class="nav-justified mt-5">
            <li role="presentation" class="btn btn-block btn-nav-size <%= action_name == 'new_movie' ? 'active' : 'btn-nav-color' %>"><%= link_to 'Добавить фильм', '/new_movie' %></li>
            <li role="presentation" class="btn btn-block btn-nav-size <%= action_name == 'users' ? 'active' : 'btn-nav-color' %>"><%= link_to 'Пользователи', '/users' %></li>
          </ul>
      <% end %>
    </nav>
    <p id="notice"><%= notice %></p>
    <div class="content">
      <%= yield %>
    </div>
    <footer class="panel authors-title">
      <div class="panel-body">
        <h4>Силаков, Сорокина, Исаев</h4>
      </div>
    </footer>
  </div>
</body>
</html>
