<!DOCTYPE html>
<html>
<head>
  <title>PROkino</title>
  <%= stylesheet_link_tag "application.css" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="container">
    <header>
      <div class="logo">
тут лого =)
      </div>
      <section class="cabinet ">
        <% if user_signed_in? %>
            <%= render partial: 'layouts/signed_in' %>
        <% else %>
            <%= render partial: 'layouts/sign_in' %>
        <% end %>
      </section>
    </header>
    <%= link_to 'Добавить фильм', '/new_movie' %>
    <div class="search">
        <%= form_tag('/search_result', method: 'get', class: 'navbar-form navbar-right form-inline', role: 'search') do %>
            <div class="form-group">
              <%= text_field_tag(:query, nil, {class: 'form-control', required: 'true'}) %>
            </div>
            <%= submit_tag('Найти', {class: 'btn btn-default'}) %>
            <div class="form-group">
              <ul class="nav nav-pills">
                <li role="presentation" class="<%= action_name == 'search' ? 'active' : '' %>"><%= link_to 'Расширенный поиск', '/search' %></li>
              </ul>
            </div>
        <% end %>
    </div>
    <nav>
      <ul class="nav nav-pills nav-justified">
        <li role="presentation" class="<%= action_name == 'index' ? 'active' : '' %>"><%= link_to 'Главная', '/main'%></li>
        <li role="presentation" class="<%= action_name == 'releases' ? 'active' : '' %>"><%= link_to 'График премьер', '/releases'%></li>
        <li role="presentation" class="<%= action_name == 'random' ? 'active' : '' %>"><%= link_to 'Случайный фильм', '/random_film'%></li>
      </ul>
    </nav>
    <div class="content">
      <%= yield %>
    </div>
    <footer class="panel panel-default">
      <div class="panel-body">
        <h4>Силаков, Сорокина, Исаев</h4>
      </div>
    </footer>
  </div>
</body>
</html>
