<%= form_for @review, remote: true, url: {action: url_link, controller: :reviews} do |f| %>
    <% if @review.errors.any? %>
        <div id="error_explanation">
          <h2><%= Russian::pluralize(@review.errors.count, 'error') %> prohibited this movie from being saved:</h2>

          <ul>
            <% @review.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <%= tag(:input, type: "hidden", name: request_forgery_protection_token.to_s, value: form_authenticity_token) %>
    <%= f.hidden_field :movie_id, { :value => @review.movie_id } %>
    <%= f.hidden_field :user_id, { :value => @review.user_id } %>
    <%= f.hidden_field :review_date, { :value => Time.now } %>
    <br>
    <!--<h2><strong class="font-cambria title">Добавить отзыв к фильму </strong><strong class="font-cambria font-dark-green"><= @movie_title %></strong></h2-->
    <div class="form-group">
      <%= f.label 'Заголовок', for: 'titleInput' %>
      <%= f.text_field :title, autofocus: true, class: 'form-control', id: 'titleInput', placeholder: 'Заголовок', required: 'true' %>
    </div>
    <div class="form-group">
      <%= f.label 'Отзыв', for: 'titleInput' %>
      <%= f.text_area :content, autofocus: true, class: 'form-control resize-vertical', size: '30x10', id: 'titleInput', placeholder: 'Отзыв', required: 'true' %>
    </div>
    <div class="form-group font-dark-green">
      <%= f.label :recommended, class: 'titleInput' do %>
          <%= f.check_box :recommended %> Советуешь посмотреть этот фильм?
      <% end %>
    </div>
    <div class="form-group cntr">
      <%= f.submit 'Отправить',  class: 'btn btn-header-color' %>
    </div>
<% end %>