<!-- <h1>Удалить отзыв<h1>-->
<%= form_for @review, url: {action: 'destroy_review'}  do |f| %>
    <% if @review.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@review.errors.count, "error") %> prohibited this movie from being saved:</h2>

          <ul>
            <% @review.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <h1 class="cntr"><small><strong>Удалить отзыв</strong></small></h1>

    <div class="form-group">
      <%= f.label 'id отзыва', for: 'titleInput' %>
      <%= f.text_field :id,  autofocus: true, class: 'form-control', id: 'titleInput', placeholder: 'id отзыва' %>
    </div>


    <div class="form-group cntr">
      <%= f.submit 'Удалить отзыв', class: 'btn btn-default' %>
    </div>
<% end %>