<div class="movie-details">
  <table class="about-movie-table">
    <tr>
      <td>
        <div>
          <h1><strong><%= @movie.title %></strong><br>
            <small><strong><%= @movie.orig_title + ' (' + @movie.year.to_s + ')' %></strong></small>
          </h1>
          <dl class="dl-horizontal">
            <% list = ''; @movie.countries.each do |item| list += item.name + ', ' end; %>
            <dt>Страна:</dt><dd><%= list[0, list.length-2] %></dd>
            <% list = ''; @movie.genres.each do |item| list += item.name + ', ' end; %>
            <dt>Жанр:</dt><dd><%= list[0, list.length-2] %></dd>
            <dt>Дата премьеры:</dt><dd><%= @movie.release_date.to_s %></dd>
            <dt>Продолжительность:</dt><dd><%= @movie.duration.to_s %> мин.</dd>
            <dt>Ограничение:</dt><dd><%= @movie.rate_id.to_s %></dd>
            <% list = ''; @movie.directors.each do |item| list += item.name + ', ' end; %>
            <dt>Режиссер:</dt><dd><span><%= list[0, list.length-2] %></span></dd>
            <% list = ''; @movie.producers.each do |item| list += item.name + ', ' end; %>
            <dt>Продюсер:</dt><dd><%= list[0, list.length-2] %></dd>
            <% list = ''; @movie.writers.each do |item| list += item.name + ', ' end; %>
            <dt>Сценарист:</dt><dd><%= list[0, list.length-2] %></dd>
            <% list = ''; @movie.stars.each do |item| list += item.name + ', ' end; %>
            <dt>Актерский состав:</dt><dd><%= list[0, list.length-2] %></dd>
          </dl>
        </div>
      </td>
      <td style="min-width: 250px">
        <% if @movie != nil %>
            <img url='<%= @movie.image_url %>' alt="<%= @movie.orig_title %>"
                 class="img-thumbnail" width="250px" height="370px">
            <a href='<%= @movie.image_url %>'>ссылка</a>
        <% end %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <blockquote>
          <p><%= @movie.description %></p>
        </blockquote>
        <p><strong>Пользовательский рейтинг:</strong>
          <!-- TODO отображение рейтинга и возможности поставить рейтинг
               TODO для того пользователя, который еще не поставил--></p>
      </td>
    </tr>
  </table>

  <table class="reviews">
    <h2 class="mb-0"><small><strong>Отзывы пользователей:</strong></small></h2>
    <% if @movie.reviews.size == 0 then %>
        <div class="no_reviews label label-default"><strong>ОТЗЫВОВ ЕЩЕ НЕТ</strong></div>
    <% end %>

    <!-- TODO панель отзыва привести к нормальному виду -->
    <p>ID<p>
    <p><%= current_user.id %><p>
    <p><%= current_user.email %><p>

    <%= link_to 'Добавить отзыв', '/new_review' %>

    <% @movie.reviews.each do |review| %>
        <tr><td>
          <div class="review <%= review.isgood ? 'bg-success' : 'bg-danger ta-right' %>">
            <h3 class="mb-0 mt-0"><strong><%= review.title %></strong></h3>
            <blockquote>
              <p><%= review.content %></p>
              <footer><%= @users.find(review.user_id).email %>, <%= review.review_date.to_s %></footer>
            </blockquote>
          </div>
        </td></tr>
    <% end %>
  </table>
</div>