<div class="movie-details font-darkgray-color">
  <h1><strong class="title font-cambria"><%= @movie.title %></strong><br>
    <small><strong class="title font-cambria"><%= @movie.orig_title + ' (' + @movie.release_date.year.to_s + ')' %></strong></small>
  </h1>
  <img src="<%= @movie.image_url %>" alt="<%= @movie.orig_title %>" class="img-thumbnail poster float-r">
  <table class="about-movie-table font-cambria">
    <tr class="border-bottom">
      <td class="text-bold pb-5 pt-5">Страна:</td>
      <td><%= render partial: 'list', object: @movie.countries %></td>
    </tr>
    <tr class="border-bottom">
      <td class="text-bold pb-5 pt-5">Жанр:</td>
      <td><%= render partial: 'list', object: @movie.genres %></td>
    </tr>
    <tr class="border-bottom">
      <td class="text-bold pb-5 pt-5">Дата премьеры:</td>
      <td><%= @movie.release_date.to_s %></td>
    </tr>
    <tr class="border-bottom">
      <td class="text-bold pb-5 pt-5">Продолжительность:</td>
      <td><%= @movie.duration.to_s %> мин.</td>
    </tr>
    <tr class="border-bottom">
      <td class="text-bold pb-5 pt-5">Ограничение:</td>
      <td><%= @movie.age.name unless @movie.age.nil? %></td>
    </tr>
    <tr class="border-bottom">
      <td class="text-bold pb-5 pt-5">Режиссер:</td>
      <td><%= render partial: 'list_url', object: @movie.directors %></td>
    </tr>
    <tr class="border-bottom">
      <td class="text-bold pb-5 pt-5">Продюсер:</td>
      <td><%= render partial: 'list_url', object: @movie.producers %></td>
    </tr>
    <tr class="border-bottom">
      <td class="text-bold pb-5 pt-5">Сценарист:</td>
      <td><%= render partial: 'list_url', object: @movie.writers %></td>
    </tr>
    <tr class="border-bottom">
      <td class="text-bold pb-5 pt-5">Актерский состав:</td>
      <td><%= render partial: 'list_url', object: @movie.stars %></td>
    </tr>
  </table>

  <p class="font-georgia pr-10"><%= @movie.description %></p>
  <!-- Пользовательский рейтинг фильма и ссылка на голосование -->
  <span class="font-cambria"><strong>Пользовательский рейтинг: </strong>
    <div id="user_rating" class="inline-block">
      <%= render 'ratings/user_rating' %>
    </div>
    <!-- Ссылки администратора на редактирование и удаление фильма -->
    <% if user_signed_in? && current_user.permission == 1 %>
        <div class="ta-right">
          <%= link_to 'Редактировать данные', '/edit_movie/'+@movie.id.to_s, class: 'btn btn-link' %><br/>
          <%= link_to 'Удалить фильм', '/destroy_movie/'+@movie.id.to_s, class: 'btn btn-link', confirm: 'Удалить этот фильм?' %>
        </div>
    <% end %>
  </span>
</div>

<!-- Панель похожих фильмов -->
<% if @like_movies.count > 0 %>
    <div class="title font-cambria cntr text-bold font-size-20 pb-5">Похожие фильмы:</div>
    <div class="recommended-films cntr">
      <% @like_movies[0..4].each do |like_movie| %>
          <div>
            <%= link_to(image_tag(like_movie.image_url, alt: like_movie.title, class: 'img-thumbnail poster '), '/details/' + like_movie.id.to_s) %>
            <h6 class="mt-5 font-cambria ">
              <strong>
                <%= link_to(like_movie.title.length <= 15 ? like_movie.title : like_movie.title[0,15]+'...', '/details/' + like_movie.id.to_s, class: 'like-movies-link') %>
              </strong>
            </h6>
          </div>
      <% end %>
    </div>
<% end %>

<!-- Панель отзывов -->
<div class="panel-review">
  <div id="js_review_str">
    <!-- Общий заголовок отзывов, в зависимости от наличия отзывов на фильм -->
    <%= (render 'reviews/review_str') %>
  </div>
  <div id="js_button_add">
    <!-- Кнопка добавления отзыва -->
    <%= (render 'reviews/review_add_button') %>
  </div>

  <table class="reviews">
    <tr>
      <td>
        <div id="js_review"></div>
      </td>
    </tr>
    <!-- Карточки отзывов -->
    <% if @movie.reviews.size > 0 %>
        <%= render  partial: 'reviews/review_item', object: @movie.reviews %>
    <% end %>
  </table>
</div>

<!-- Модальное диалоговое окно голосования -->
<% if user_signed_in? %>
    <div id="ratingModal" class="modalDialog">
      <div>
        <a id="close_modal" href="#close" title="Close" class="close" ><img src="<%= image_path 'remove.png' %>" class="image-size"></a>
        <h2 class="cntr font-darkgray-color font-size-22">Проголосуй за фильм!</h2>
        <div class="cntr">
          <%= form_tag({ action: 'add_rating', controller: :movies}, id: 'add_rating_form', remote: true) do %>
              <%= tag(:input, type: 'hidden', name: request_forgery_protection_token.to_s, value: form_authenticity_token) %>
              <span id="set_movie_rating" class="starRating">
              <input type="radio" value="5"><label for="rating5" onclick="submitForm(5)">5</label>
              <input type="radio" value="4"><label for="rating4" onclick="submitForm(4)">4</label>
              <input type="radio" value="3"><label for="rating3" onclick="submitForm(3)">3</label>
              <input type="radio" value="2"><label for="rating2" onclick="submitForm(2)">2</label>
              <input type="radio" value="1"><label for="rating1" onclick="submitForm(1)">1</label>
            </span>
              <input type="hidden" name="movie_id" value="<%= @movie.id %>" readonly/>
              <input type="hidden" name="user_id" value="<%= current_user.id %>" readonly/>
          <% end %>
        </div>
      </div>
    </div>
<% end %>