<div class="movie-details">
  <h1><strong class="title font-cambria"><%= @movie.title %></strong><br>
    <small><strong class="title font-cambria"><%= @movie.orig_title + ' (' + @movie.release_date.year.to_s + ')' %></strong></small>
  </h1>
  <img src="<%= @movie.image_url %>" alt="<%= @movie.orig_title %>" class="img-thumbnail poster">
  <table class="about-movie-table">
    <tr>
      <td>Страна:</td>
      <td><%= render partial: 'list', object: @movie.countries %></td>
    </tr>
    <tr>
      <td>Жанр:</td>
      <td><%= render partial: 'list', object: @movie.genres %></td>
    </tr>
    <tr>
      <td>Дата премьеры:</td>
      <td><%= @movie.release_date.to_s %></td>
    </tr>
    <tr>
      <td>Продолжительность:</td>
      <td><%= @movie.duration.to_s %> мин.</td>
    </tr>
    <tr>
      <td>Ограничение:</td>
      <td><%= @movie.age.name %></td>
    </tr>
    <tr>
      <td>Режиссер:</td>
      <td><%= render partial: 'list_url', object: @movie.directors %></td>
    </tr>
    <tr>
      <td>Продюсер:</td>
      <td><%= render partial: 'list_url', object: @movie.producers %></td>
    </tr>
    <tr>
      <td>Сценарист:</td>
      <td><%= render partial: 'list_url', object: @movie.writers %></td>
    </tr>
    <tr>
      <td>Актерский состав:</td>
      <td><%= render partial: 'list_url', object: @movie.stars %></td>
    </tr>
</table>

  <table>
    <tr>
      <td>
          <p class="font-georgia"><%= @movie.description %></p>
        <p><strong>Пользовательский рейтинг: </strong>
          <% if @movie.ratings.count == 0 %>
              еще никто не проголосовал
          <% else %>
              <%= @movie.ratings.average(:value).round(2)%>
          <% end %>
        </p>
        <p><strong>Число голосов: </strong> <%= @movie.ratings.count %> </p>
      </td>
    </tr>
  </table>
  <% if user_signed_in? && current_user.permission == 1 %>
      <%= link_to 'Редактировать данные', '/edit_movie/'+@movie.id.to_s, :class => 'btn btn-link' %>
      <%= link_to 'Удалить фильм', '/destroy_movie/'+@movie.id.to_s, :class => 'btn btn-link', confirm: 'Удалить этот фильм?' %>
  <% end %>
</div>
<% if @movie.reviews.count == 0
     reviewString = 'Отзывов еще нет'
     if user_signed_in?
       reviewString += ', но вы можете оставить свой!'
     end
   else
     reviewString = 'Отзывы пользователей:'
   end %>
<div class="panel-review">
  <h2 class="mb-0 cntr"><small><strong class="title font-cambria"><%= reviewString %></strong></small></h2>
  <% if user_signed_in? && @movie.reviews.where(user_id: current_user.id).count == 0 %>
      <%= link_to create_review_path(:review => { :movie_id => @movie.id , :user_id => current_user.id}), class:'btn btn-enter-color' do %>
          + Добавить отзыв
      <% end %>
  <% end %>
  <% if @movie.reviews.size > 0 %>
      <table class="reviews">
        <% @movie.reviews.each do |review| %>
            <tr>
              <td>
                <div class="review <%= review.recommended ? 'review-title-user-good' : 'review-title-user-bad' %>">
                  <% if user_signed_in? && (review.user_id==current_user.id || current_user.permission == 1 ) then%>
                     <span>
                       <%= link_to '/edit_review/'+review.id.to_s, :class => 'btn btn-default btn-sm' do %>
                          <img src="<%= image_path 'pencil.png' %>" class="image-size">
                      <% end %>
                      <%= link_to '/destroy_review/'+review.id.to_s, :class => 'btn btn-danger btn-sm', confirm: 'Удалить этот отзыв?' do %>
                          <img src="<%= image_path 'remove.png' %>" class="image-size">
                      <% end %>
                     </span>
                  <% end %>
                  <h4 class="mb-10 mt-10 font-size-16"><strong><%= review.title %></strong></h4>
                  <p class="mb-0 mt-0 font-georgia font-size-13 <%= review.recommended ? 'review-text-good' : 'review-text-bad' %>"><%= review.content %></p>
                  <i class="font-size-12"><%= @users.find(review.user_id).name %>, <%= review.review_date.to_s %></i>
                </div>
              </td>
            </tr>
        <% end %>
      </table>
  <% end %>
</div>