<div class="movie-details">
  <table class="about-movie-table">
    <tr>
      <td>
        <div>
          <h1><strong><%= @movie.title %></strong><br>
            <small><strong><%= @movie.orig_title + ' (' + @movie.year.to_s + ')' %></strong></small>
          </h1>
          <dl class="dl-horizontal">
            <% list = ''; @movie.countries.each do |item| list += item.name + ', ' end; %>
            <dt>Страна:</dt><dd><%= list[0, list.length-2] %></dd>
            <% list = ''; @movie.genres.each do |item| list += item.name + ', ' end; %>
            <dt>Жанр:</dt><dd><%= list[0, list.length-2] %></dd>
            <dt>Дата премьеры:</dt><dd><%= @movie.release_date.to_s %></dd>
            <dt>Продолжительность:</dt><dd><%= @movie.duration.to_s %> мин.</dd>
            <dt>Ограничение:</dt><dd><%= @movie.rate_id.to_s %></dd>
            <% list = ''; @movie.directors.each do |item| list += item.name + ', ' end; %>
            <dt>Режиссер:</dt><dd><span><%= list[0, list.length-2] %></span></dd>
            <% list = ''; @movie.producers.each do |item| list += item.name + ', ' end; %>
            <dt>Продюсер:</dt><dd><%= list[0, list.length-2] %></dd>
            <% list = ''; @movie.writers.each do |item| list += item.name + ', ' end; %>
            <dt>Сценарист:</dt><dd><%= list[0, list.length-2] %></dd>
            <% list = ''; @movie.stars.each do |item| list += item.name + ', ' end; %>
            <dt>Актерский состав:</dt><dd><%= list[0, list.length-2] %></dd>
          </dl>
        </div>
      </td>
      <td style="min-width: 250px">
        <% if @movie.image_url != nil %>
            <img src="<%= @movie.image_url %>" alt="<%= @movie.orig_title %>"
                 class="img-thumbnail" width="250" height="370">
        <% end %>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <blockquote>
          <p><%= @movie.description %></p>
        </blockquote>
        <p><strong>Пользовательский рейтинг:</strong>
          <!-- TODO отображение рейтинга и возможности поставить рейтинг
               TODO для того пользователя, который еще не поставил--></p>
      </td>
    </tr>
  </table>



  <h2 class="mb-0 cntr"><small><strong>Отзывы пользователей:</strong></small></h2>
  <% if @movie.reviews.size == 0 then %>
      <div class="cntr"><div class="btn btn-warning disabled"><strong>ОТЗЫВОВ ЕЩЕ НЕТ</strong></div></div>
      <%= link_to 'Добавить отзыв', '/create_review/'+@movie.id.to_s %></br>
  <% else %>
      <table class="reviews">
        <!-- TODO панель отзыва привести к нормальному виду -->

        <!--
        Не удалять
        <nav>
          <ul class="nav nav-pills nav-justified">
            <li role="presentation" class="<%= action_name == 'new_review' ? 'active' : '' %>"><%= link_to 'Добавить отзыв', 'new_review'%></li>
            <li role="presentation" class="<%= action_name == 'edit_review' ? 'active' : '' %>"><%= link_to 'Редактировать отзыв', 'edit_review'%></li>
            <li role="presentation" class="<%= action_name == 'destroy_review' ? 'active' : '' %>"><%= link_to 'Удалить отзыв', 'destroy_review'%></li>
          </ul>
        </nav>
        <div class="content">
          <%= yield %>
        </div>


        <% if @movie.reviews.find_by_sql ("SELECT id FROM reviews WHERE user_id=='current_user.id' AND movie_id=='@movie.id'")  then %>
            <p>есть</p>
        <% else %>
            <p>нет</p>
            <%= link_to 'Добавить отзыв', '/create_review/'+@movie.id.to_s %></br>
        <% end %>
        -->

        <!--TODO Придумать условие для добавления лишь 1 отзыва см. выше -->
        <%= link_to 'Добавить отзыв', '/create_review/'+@movie.id.to_s %></br>

        <% @movie.reviews.each do |review| %>
            <tr><td>
              <div class="review <%= review.isgood ? 'bg-success' : 'bg-danger ta-right' %>">
                <h3 class="mb-0 mt-0"><strong><%= review.title %></strong></h3>
                <h4><%= review.content %></p></h4>
                <h5><i><%= @users.find(review.user_id).email %>, <%= review.review_date.to_s %></i></h5>
                <!-- Пользователь может удалять только свой отзывы -->
                <!-- TODO Если ты админ, то удаляй любые отзывы -->
                <% if review.user_id==current_user.id then%>
                    <%= link_to 'Редактировать отзыв', '/edit_review/'+review.id.to_s %></br>
                    <%= link_to 'Удалить отзыв', '/destroy_review/'+review.id.to_s %>
                <% end %>
              </div>
            </td></tr>
        <% end %>
      </table>
  <% end %>
</div>