<div class="movie-details font-darkgray-color">
  <h1><strong class="title font-cambria"><%= @movie.title %></strong><br>
    <small><strong class="title font-cambria"><%= @movie.orig_title + ' (' + @movie.release_date.year.to_s + ')' %></strong></small>
  </h1>
  <img src="<%= @movie.image_url %>" alt="<%= @movie.orig_title %>" class="img-thumbnail poster float-r">
  <table class="about-movie-table font-cambria">
    <tr class="border-bottom">
      <td class="text-bold pb-5 pt-5">Страна:</td>
      <td><%= render partial: 'list', object: @movie.countries %></td>
    </tr>
    <tr class="border-bottom">
      <td class="text-bold pb-5 pt-5">Жанр:</td>
      <td><%= render partial: 'list', object: @movie.genres %></td>
    </tr>
    <tr class="border-bottom">
      <td class="text-bold pb-5 pt-5">Дата премьеры:</td>
      <td><%= @movie.release_date.to_s %></td>
    </tr>
    <tr class="border-bottom">
      <td class="text-bold pb-5 pt-5">Продолжительность:</td>
      <td><%= @movie.duration.to_s %> мин.</td>
    </tr>
    <tr class="border-bottom">
      <td class="text-bold pb-5 pt-5">Ограничение:</td>
      <td><%= @movie.age.name unless @movie.age.nil? %></td>
    </tr>
    <tr class="border-bottom">
      <td class="text-bold pb-5 pt-5">Режиссер:</td>
      <td><%= render partial: 'list_url', object: @movie.directors %></td>
    </tr>
    <tr class="border-bottom">
      <td class="text-bold pb-5 pt-5">Продюсер:</td>
      <td><%= render partial: 'list_url', object: @movie.producers %></td>
    </tr>
    <tr class="border-bottom">
      <td class="text-bold pb-5 pt-5">Сценарист:</td>
      <td><%= render partial: 'list_url', object: @movie.writers %></td>
    </tr>
    <tr class="border-bottom">
      <td class="text-bold pb-5 pt-5">Актерский состав:</td>
      <td><%= render partial: 'list_url', object: @movie.stars %></td>
    </tr>
  </table>

  <p class="font-georgia pr-10"><%= @movie.description %></p>
  <!-- Пользовательский рейтинг фильма и ссылка на голосование -->
  <p class="font-cambria"><strong>Пользовательский рейтинг: </strong>
    <% if @movie.ratings.count == 0 %>
        <span>(еще никто не проголосовал)</span>
    <% else %>
        <span id="stars_count" hidden="hidden"><%= @movie.ratings.average(:value).round%></span>
              <span id="rating_stars" class="starRating">
                <input id="rating5" type="radio" name="rating" value="5" readonly><label for="rating5">5</label>
                <input id="rating4" type="radio" name="rating" value="4" readonly><label for="rating4">4</label>
                <input id="rating3" type="radio" name="rating" value="3" readonly><label for="rating3">3</label>
                <input id="rating2" type="radio" name="rating" value="2" readonly><label for="rating2">2</label>
                <input id="rating1" type="radio" name="rating" value="1" readonly><label for="rating1">1</label>
              </span>
    <% end %>
    <% if user_signed_in? %>
        <% if @movie.ratings.find_by(user_id: current_user.id) %>
                      <span class="ml-5 ">
                        <span>Твой голос уже учтен (</span>
                        <% @movie.ratings.find_by(user_id: current_user.id).value.times do %>
                            <img src="<%= image_path 'star-on.svg' %>" width="12" height="12"/>
                        <% end %>
                        <span>)</span>
                      </span>
        <% else %>
            <a class="ml-5" href="#ratingModal">Проголосуй</a>
        <% end %>
    <% else %>
        <span>Зарегистрируйся, чтобы проголосовать</span>
    <% end %>
  </p>
  <!-- Ссылки администратора на редактирование и удаление фильма -->
  <% if user_signed_in? && current_user.permission == 1 %>
      <div class="ta-right">
        <%= link_to 'Редактировать данные', '/edit_movie/'+@movie.id.to_s, class: 'btn btn-link' %><br/>
        <%= link_to 'Удалить фильм', '/destroy_movie/'+@movie.id.to_s, class: 'btn btn-link', confirm: 'Удалить этот фильм?' %>
      </div>
  <% end %>
</div>
<!-- Панель похожих фильмов -->

<!-- Здесь count>1, потому что в список также входит текущий фильм -->
<% if @like_movies.count > 1 %>
    <div class="font-georgia cntr">Похожие фильмы:</div>
    <div class="recommended-films cntr">
      <% @like_movies.each do |like_movie| %>
          <% if like_movie.id != @movie.id %>
              <div>
                <%= link_to(image_tag(like_movie.image_url, alt: like_movie.title, class: 'img-thumbnail poster '), '/details/' + like_movie.id.to_s) %>
                <h6 class="mt-0 font-cambria"><strong>
                  <% if like_movie.title.length <= 15 %>
                      <%= link_to(like_movie.title, '/details/' + like_movie.id.to_s) %>
                  <% else %>
                      <%= link_to(like_movie.title[0,15]+'...', '/details/' + like_movie.id.to_s) %>
                  <% end %>
                </strong></h6>
              </div>
          <% end %>
      <% end %>
    </div>
<% end %>

<!-- Панель отзывов -->
<% if @movie.reviews.count == 0
     reviewString = 'Отзывов еще нет'
     if user_signed_in?
       reviewString += ', но вы можете оставить свой!'
     end
   else
     reviewString = 'Отзывы пользователей:'
   end %>
<div class="panel-review">
  <h2 class="mb-0 cntr"><small><strong class="title font-cambria"><%= reviewString %></strong></small></h2>
  <% if user_signed_in? && @movie.reviews.where(user_id: current_user.id).count == 0 %>
      <%= link_to create_review_path(:review => { :movie_id => @movie.id , :user_id => current_user.id}), class:'btn btn-enter-color' do %>
          + Добавить отзыв
      <% end %>
  <% end %>
  <% if @movie.reviews.size > 0 %>
      <table class="reviews">
        <% @movie.reviews.each do |review| %>
            <tr>
              <td>
                <div class="review <%= review.recommended ? 'review-good' : 'review-bad' %>">
                  <% if user_signed_in? && (review.user_id==current_user.id || current_user.permission == 1 ) %>
                     <span>
                       <%= link_to '/destroy_review/'+review.id.to_s, :class => 'btn btn-danger btn-sm', confirm: 'Удалить этот отзыв?' do %>
                          <img src="<%= image_path 'remove.png' %>" class="image-size">
                      <% end %>
                       <%= link_to '/edit_review/'+review.id.to_s, :class => 'btn btn-default btn-sm' do %>
                          <img src="<%= image_path 'pencil.png' %>" class="image-size">
                      <% end %>
                     </span>
                  <% end %>
                  <h4 class="mb-10 mt-10 font-size-16"><strong><%= review.title %></strong></h4>
                  <p class="mb-0 mt-0 font-georgia font-size-13"><%= review.content %></p>
                  <i class="font-size-12"><%= @users.find(review.user_id).name %>
                    <% unless review.review_date.nil? %>, <%= Russian::strftime(review.review_date , '%d-%m-%Y %H:%M')%><% end %></i>
                </div>
              </td>
            </tr>
        <% end %>
      </table>
  <% end %>
</div>
<!-- Модальное диалоговое окно голосования -->
<% if user_signed_in? %>
    <div id="ratingModal" class="modalDialog">
      <div>
        <a id="close_modal" href="#close" title="Close" class="close"><img src="<%= image_path 'remove.png' %>" class="image-size"></a>
        <h2 class="cntr">Проголосуй за фильм!</h2>
        <div class="cntr">
          <%= form_tag({ action: 'add_rating', controller: :movies}, id: 'add_rating_form') do %>
            <span id="set_movie_rating" class="starRating">
              <input type="radio" value="5"><label for="rating5" onclick="submitForm(5)">5</label>
              <input type="radio" value="4"><label for="rating4" onclick="submitForm(4)">4</label>
              <input type="radio" value="3"><label for="rating3" onclick="submitForm(3)">3</label>
              <input type="radio" value="2"><label for="rating2" onclick="submitForm(2)">2</label>
              <input type="radio" value="1"><label for="rating1" onclick="submitForm(1)">1</label>
            </span>
              <input type="hidden" name="movie_id" value="<%= @movie.id %>" readonly/>
              <input type="hidden" name="user_id" value="<%= current_user.id %>" readonly/>
          <% end %>
        </div>
      </div>
    </div>
<% end %>