<h2 class="title font-cambria">Расширенный поиск</h2>
<%= form_tag({ action: :extended_search, controller: main_path}, { class: 'form-horizontal'}) do %>
    <div class="form-group">
      <%= label_tag 'Название фильма', nil, { class: 'col-sm-4 control-label', for: 'title'} %>
      <div class="col-sm-4">
        <%= text_field_tag 'title', params[:title], { autofocus: true, class: 'form-control', id: 'title', placeholder: 'Оригинальное или локализованное' } %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag 'Год', nil, { class: 'col-sm-4 control-label', for: 'yearInput' } %>
      <div class="col-sm-4">
        <%= number_field_tag :year, params[:year],in: 1900...Time.now.year+10, class: 'form-control', id: 'yearInput' %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag 'Жанр', nil, { class: 'col-sm-4 control-label', for: 'genreInput' } %>
      <div class="col-sm-4">
        <%= collection_select(:genre, :genre_id, Genre.all, :id, :name, {selected: params[:genre] == nil ? '0' : params[:genre][:genre_id], include_blank: 'Все'}, class: 'form-control') %>
      </div>
    </div>
    <div class="form-group">
      <%= label_tag 'Имя актера или создателя фильма', nil, { class: 'col-sm-4 control-label', for: 'humanNameInput' } %>
      <div class="col-sm-4">
        <%= text_field_tag :humanName, nil, { class: 'form-control', id: 'humanNameInput' } %>
      </div>
    </div>
    <div class="form-group cntr">
      <%= submit_tag 'Искать', { class: 'btn btn-header-color', name: 'search' } %>
    </div>
<% end %>

<table class="table table-hover">
  <thead>
  <tr class="font-cambria title font-size-18 cntr">
    <th class="cntr">Название</th>
    <th class="cntr">Дата премьеры</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% if @movies !=nil %>
      <% @movies.each do |movie| %>
          <tr class="table-tr font-georgia cntr">
            <td><%= movie.title %></td>
            <td><%= movie.release_date %></td>
            <td><%= link_to 'Подробно', '/details/' + movie.id.to_s, class:'btn table-more-inf' %></td>
          </tr>
      <% end %>
  <% end %>
  </tbody>
</table>