<%= form_for @movie, url: {action: 'create_movie'}  do |f| %>
    <% if @movie.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

          <ul>
            <% @movie.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <h1 class="cntr"><small><strong>Добавление фильма</strong></small></h1>
    <div class="form-group">
      <%= f.label 'Название на русском языке', for: 'titleInput' %>
      <%= f.text_field :title, autofocus: true, class: 'form-control', id: 'titleInput', placeholder: 'Название на русском языке' %>
    </div>
    <div class="form-group">
      <%= f.label 'Название на родном языке', for: 'titleOrigInput' %>
      <%= f.text_field :orig_title, class: 'form-control', id: 'titleOrigInput', placeholder: 'Название на родном языке'  %>
    </div>
    <div class="form-group">
      <%= f.label 'Год выпуска', for: 'yearInput' %>
      <%= f.number_field :year, class: 'form-control', id: 'yearInput', placeholder: '2015' %>
    </div>
    <div class="form-group">
      <%= f.label :release_date, for: 'dateInput' %>
      <%= f.text_field  :release_date, id: 'dateInput', class: 'form-control datepicker' %>
    </div>
    <div class="form-group">
      <%= f.label 'Продолжительность (в минутах)', for: 'durationInput' %>
      <%= f.number_field :duration, class: 'form-control', id: 'durationInput' %>
    </div>
    <div class="form-group">
      <%= f.label :description, for: 'descInput' %>
      <%= f.text_area :description, id: 'descInput', class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :rate_id %>
      <%= f.number_field :rate_id, class: 'form-control' %>
    </div>
    <div class="form-group cntr">
      <%= f.submit 'Сохранить', class: 'btn btn-default' %>
    </div>
<% end %>
