<h1>Информация о профиле</h1>

<table>
  <tr>
    <th>Имя: </th><td><%= @user.name %></td>
  </tr>
  <tr>
    <th>E-mail: </th><td><%= @user.email %></td>
  </tr>
  <tr>
    <th>Пол: </th><td><%= @user.sex %></td>
  </tr>
  <tr>
    <th>Ранг в системе: </th><td><%= 'Администратор' if @user.permission == 1 %>
                                  <%= 'Редактор' if @user.permission == 2 %>
                                  <%= 'Пользователь' if @user.permission == 3 %> </td>
  </tr>
</table>
<td class="cntr"><%= link_to 'Редактировать данные', edit_registration_path(@user), {class: 'btn btn-default'} %></td>