<!-- //TODO График премьер. Рендерятся три месяца, включая текущий. Больше и не надо -->
<table class="table table-hover releases-table">
  <thead>
  <tr class="title cntr">
    <th>Дата премьеры</th>
    <th>Название</th>
    <th>Оригинальное название</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% curTime = Time.now %>
  <% 3.times do |i| %>
      <tr class="active"><td colspan="4"><%= Russian::strftime(curTime+i.month, "%B") %></tr>
      <% @movies.each do |movie| if movie.release_date.year == curTime.year && movie.release_date.month == curTime.month+i %>
              <tr>
                <td><%= movie.release_date %></td>
                <td><%= movie.title %></td>
                <td><%= movie.orig_title %></td>
                <td><%= link_to 'Подробно', '/details/' + movie.id.to_s, class:'btn btn-exit-color' %></td>
              </tr>
          <% end %>
      <% end %>
  <% end %>
  </tbody>
</table>