<!-- TODO График премьер. Список фильмов на ближайшие три месяца, сгруппированные по месяцам -->
<table class="table table-striped releases-table">
  <thead>
  <tr>
    <th>Дата премьеры</th>
    <th>Название</th>
    <th>Оригинальное название</th>
    <th></th>
  </tr>
  </thead>
<% @date = Date.today %>
  <tbody>
  <tr><td colspan="4"><%= @date.strftime("%B") %></tr>
  <% @movies.each do |movie| %>
      <tr>

        <td><%= movie.release_date %></td>
        <td><%= movie.title %></td>
        <td><%= movie.orig_title %></td>
        <td><%= link_to 'Подробно', movie, class:'btn btn-default' %></td>
      </tr>
  <% end %>
  </tbody>
</table>