<div class="page-header">
  <h2>Расширенный поиск</h2>
</div>
<form class="form-horizontal">
  <div class="form-group">
    <label for="inputName" class="col-sm-3 control-label">Название фильма</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="inputName">
    </div>
  </div>
  <div class="form-group">
    <label for="inputYear" class="col-sm-3 control-label">Год выпуска</label>
    <div class="col-sm-4">
      <input type="number" class="form-control" id="inputYear" value="<%= Time.now.year %>">
    </div>
  </div>
  <div class="form-group">
    <label for="inputGenre" class="col-sm-3 control-label">Жанр</label>
    <div class="col-sm-4">
      <select size="1" id="inputGenre" class="form-control">
        <option value="0">Все</option>
        <% Genre.all.each do |genre| %>
            <option value="<%= genre.id %>"><%= genre.name %></option>
        <% end %>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="inputCreator" class="col-sm-3 control-label"><!-- TODO обозвать создателей фильма и актеров парой слов --></label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="inputCreator">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Искать</button>
    </div>
  </div>
</form>
<table class="table table-hover">
  <thead>
  <tr>
    <th>Название</th>
    <th>Год выпуска</th>
    <th>Дата премьеры</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.year %></td>
        <td><%= movie.release_date %></td>
        <td><%= link_to 'О фильме', '/details/' + movie.id.to_s, class:'btn btn-default' %></td>
      </tr>
  <% end %>
  </tbody>
</table>