<% # 1 - администратор %>
<% # 2 - редактор %>
<% # 3 - пользователь %>
<table class="table table-condensed">
  <thead>
  <tr>
    <th>Id</th>
    <th>Логин</th>
    <th>Почтовый ящик</th>
    <th>Пол</th>
    <th>Ранг</th>
    <th>Действие</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @users.each do |user| next if user.id == current_user.id %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.sex %></td>
        <td><%= 'Администратор' if user.permission == 1 %>
          <%= 'Редактор' if user.permission == 2 %>
          <%= 'Пользователь' if user.permission == 3 %></td>
        <% if current_user.permission == 1 %>
            <td><%= link_to 'Сделать администратором', '/rights/?id=' + user.id.to_s + '&change_to=1', class:'btn btn-default btn-sm' if user.permission != 1 %>
              <%= link_to 'Сделать пользователем', '/rights/?id=' + user.id.to_s + '&change_to=3', class:'btn btn-default btn-sm' if user.permission != 3 %>
              <%= link_to 'Сделать редактором', '/rights/?id=' + user.id.to_s + '&change_to=2', class:'btn btn-default btn-sm' if user.permission != 2 %></td>
            </tr>
        <% end %>
  <% end %>
  </tbody>
</table>